# dependencies
node_modules/
.pnpm-store/

# turborepo
.turbo/

# builds
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store

# typescript
*.tsbuildinfo
